version: "3.8"

services:
  app:
    build: .
    ports:
      - "8080:80"
    volumes:
      - ./app:/var/www/html
    environment:
      DB_HOST: db
      DB_USER: postgres
      DB_PASS: postgres
      DB_NAME: keploy
    depends_on:
      - db
    networks:
      - keploy-network


  db:
    image: postgres:15
    environment:
      POSTGRES_DB: keploy
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./app/migrate.sql:/docker-entrypoint-initdb.d/migrate.sql
    networks:
      - keploy-network

networks:
  keploy-network:
    external: true

volumes:
  pgdata:
